@media screen and (max-width: 4000px){
    .picture{
        background-image: url("Bilder/food.png");
        position: absolute;
        width: 576px;
        height: 640px;
        left: 720px;
        top: 90px;
        
    }
}

@media screen and (max-width: 900px){
    .picture{
        background-image: url("Bilder/food.png");
        position: absolute;
        width: 617px;
        height: 512px;
        left: 75px;
        top: 512px;
        
    }
}


