@media screen and (max-width: 4000px) {
  .fa-solid {
    visibility: hidden;
  }
}
@media screen and (max-width: 800px) {
  .fa-solid {
    visibility: visible;
  }
}
@media screen and (max-width: 4000px) {
  .works-box {
    display: visible;
  }
}
@media screen and (max-width: 800px) {
  .works-box {
    display: none;
  }
}
@media screen and (max-width: 4000px) {
  .service-box {
    display: visible;
  }
}
@media screen and (max-width: 800px) {
  .service-box {
    display: none;
  }
}
@media screen and (max-width: 4000px) {
  .contacts-box {
    display: visible;
  }
}
@media screen and (max-width: 800px) {
  .contacts-box {
    display: none;
  }
}
.head {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loggo {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 24px;
}

.top-bar {
  max-width: 400px;
}

.works-box {
  width: 42px;
  height: 23px;
  margin: 20px;
  padding: 10px;
}

.service-box {
  width: 56px;
  height: 23px;
  margin: 20px;
  padding: 10px;
}

.contacts-box {
  width: 59px;
  height: 23px;
  margin: 20px;
  padding: 10px;
}

.main-text {
  max-width: 400px;
}

.title-text {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
}

.body-text {
  font-size: 22px;
}

@media screen and (max-width: 4000px) {
  .picture {
    background-image: url("Bilder/food.png");
    position: absolute;
    width: 576px;
    height: 640px;
    left: 720px;
    top: 90px;
  }
}
@media screen and (max-width: 900px) {
  .picture {
    background-image: url("Bilder/food.png");
    position: absolute;
    width: 617px;
    height: 512px;
    left: 75px;
    top: 512px;
  }
}
body {
  margin: 100px;
}